

body {
  margin-left: 20px;
  
  margin-top:20px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.foot{
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.navbar{
  background-color: #79d923;
}

.navbar2{
  background-color: #8BC34A;
  /* margin-top:10px; */
}

.dash{
  background-color: #79d923;
  margin-top:14px;
}